@page
@model DisasterAlleviationFoundation.Pages.HomeModel
@{
    ViewData["Title"] = "Logged in page";
}
<div class="text-center">


    <a href="/Report" class="btn btn-primary">View Report</a>
    <a href="/MonetaryDonation" class="btn btn-primary">Create Monetary Donation</a>
    <a href="/GoodsDonation" class="btn btn-primary">Create Goods Donation</a>
    <a href="/Disaster" class="btn btn-primary">Create Disaster</a>


</div>