@page
@model DisasterAlleviationFoundation.Pages.ReportModel
@{
}
<div>

    <a href="/ViewMonetary" class="btn btn-primary">Monetary Donations</a>
    <a href="/ViewGoodDonation" class="btn btn-primary">Goods Donations</a>
    <a href="/ViewDisasters" class="btn btn-primary">Disasters</a>
</div>