@page
@model DisasterAlleviationFoundation.Pages.ViewMonetaryModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Donor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listMonetaryDonation)
        {
            <tr>
                <td>@item.dateMD</td>
                <td>@item.amountMD</td>
                <td>@item.donorMD</td>
            </tr>
        }
    </tbody>
</table>
